<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <h1 style="text-align:center;
        border:black;
         border-width:5px;
         border-style:solid;
          background:white"> Roslin </h1> <br>

        <h2 style="text-align:center;
        border:black;
         border-width:5px;
         border-style:solid;
          background:white"> Menu </h2> <br>

    <centre>
        <img src="https://www.thethomaspainehotel.co.uk/s/Thomas-Paine-Hotel-tri-fold-menu-3.png"style="img-align:centre" width="600" height="600" alt="Computer Hope"><br></centre>
        <!-- <img src="https://eu-assets.simpleview-europe.com/essex/imageresizer/?image=%2Fdmsimgs%2FRoslinBeachHotelRestaurant-1220x715_1981443072.jpg&action=ProductDetailImage"style="img-align:centre" width="600" height="600" alt="Computer Hope">  -->
    </body>
</html>